.web3modal-modal-card {
  margin-top: 50px !important;
}

.centered-container {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-pink {
  color: #F566E2;
}
.text-purple {
  color: #B131FE;
}
.text-aqua {
  color: #7EF4F6;
}
.text-grey {
  color: #CCCCCC;
}

.zoombies-font {
  font-family: "Oswald", sans-serif;
}
